@import 'tailwindcss';

@theme {
  --font-hand: "Edu NSW ACT Foundation";
  --font-work: "Work Sans";
  --font-drawn: "Coming Soon";

  --color-cream-100: #F4F0ED;
  --color-coal-100: #313131;
  --color-lavander-50: #a2abce2d;
  --color-lavander-100: #A2ABCE;
  --color-lavander-200: #737C9D;

  --text-shadow-boldest: 0px 1px, 1px 0px, 1px 1px;
  --text-middle: 3.4rem;
}

body {
  @apply font-work bg-cream-100;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=cbcedd) no-repeat center;
  background-size: 100% 100%;
  padding: 0rem 0.4rem 0.1rem;
}

.highlightDark {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=525667) no-repeat center;
  background-size: 100% 100%;
  padding: 0rem 0.4rem 0.1rem;
}

.main {
  @apply w-full h-screen pt-18
}