@import 'tailwindcss';

@theme {
  --font-hand: "Edu NSW ACT Foundation";
  --font-work: "Work Sans";
  --font-drawn: "Coming Soon";

  --color-cream-100: #F4F0ED;
  --color-coal-100: #313131;
  --color-lavander-50: #a2abce2d;
  --color-lavander-100: #A2ABCE;
  --color-lavander-200: #737C9D;

  --text-shadow-boldest: 0px 1px, 1px 0px, 1px 1px;
  --text-middle: 3.4rem;

  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee-alt: marquee-alt 25s linear infinite;
  --animate-star: star 1.3s ease-in-out infinite;

  --height-stretch: stretch;
  --width-stretch: stretch;
}

@keyframes marquee {
  from { transform: translateX(0%) }
  to { transform: translateX(-50%) }
}

@keyframes marquee-alt {
  from { transform: translateX(-50%) }
  to { transform: translateX(0%) }
}

@keyframes star {
  0% { opacity: 100%; scale: 100%; }
  20%{ opacity: 100%; scale: 100%; }
  50% { opacity: 60%; scale: 50%; }
  100% { opacity: 100%; scale: 100%; }
}

body {
  @apply font-work bg-cream-100;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=cbcedd) no-repeat center;
  background-size: 100% 100%;
  padding: 0rem 0.8rem 0.2rem;
}

.highlightDark {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=525667) no-repeat center;
  background-size: 100% 100%;
  padding: 0rem 0.8rem 0.2rem;
}

.main {
  @apply w-full min-h-screen py-20 md:pt-18
}

.transitional {
  @apply transition-all ease-in-out
}